* {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

h1 {
  justify-content: center;
  align-items: center;
  size: 4rem;
  font-weight: 700;
  color: #fff;
}

h2 {
  justify-content: center;
  align-items: center;
  size: 3.5rem;
  font-weight: 500;
  color: #fff;
}

h4 {
  justify-content: center;
  align-items: center;
  size: 4rem;
  font-weight: 300;
  color: #fff;
}

button {
  background: #1c7ed6;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem;
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-size: medium;
  border-radius: 0.25rem;
  font-weight: 500;
}

p,
span,
h3 {
  justify-content: center;
  align-items: center;
  size: 1rem;
  font-weight: 500;
  color: #fff;
}

img {
  height: 150px;
  width: 150px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50h;
  background: #232323;
  gap: 1rem;
}
